<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772658595013-7l4sog8f0kn9tlkj53d9ueoeg88k48hc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772658595013-7l4sog8f0kn9tlkj53d9ueoeg88k48hc</string>
	<key>API_KEY</key>
	<string>AIzaSyALyvXEjvlQ_kCodVVxqqLCXG83BBUPqB0</string>
	<key>GCM_SENDER_ID</key>
	<string>772658595013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abozeid.student.application.finalStudentDashboard</string>
	<key>PROJECT_ID</key>
	<string>student-dashboard-eb3d6</string>
	<key>STORAGE_BUCKET</key>
	<string>student-dashboard-eb3d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772658595013:ios:cf906c0f6f095ea627dcac</string>
</dict>
</plist>